---
import {getCollection, render} from "astro:content";
import Layout from "../layouts/Layout.astro";
import {Image} from "astro:assets";

export async function getStaticPaths() {
    const posts = await getCollection("writing");
    return posts.map(post => ({
        params: { id: post.id },
        props: { post },
    }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
    <div class="flex justify-center py-16 px-4 bg-gray-100 min-h-screen">
        <article class="prose bg-white shadow-lg rounded-lg p-8 max-w-3xl w-full">
            <h1>{post.data.title}</h1>
            {post.data.featuredImage &&
                <Image src={post.data.featuredImage} alt="" class="mt-2 mx-auto aspect-[6/5] w-full max-w-lg rounded-2xl object-cover sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-16" width={post.data.featuredImage.width} height={post.data.featuredImage.height} />
            }
            <Content />
        </article>
    </div>
</Layout>
