---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";
import { Image } from "astro:assets";
import headshot from "../images/headshot.jpeg";
import { getCollection } from "astro:content";
import { Content } from "../data/about.md";
import Certificate from "../components/Certificate.astro";

const posts = await getCollection("writing");
const certs = await getCollection("certificates");

posts.sort((a, b) => {return a.data.position - b.data.position})
certs.sort((a, b) => {return b.data.date - a.data.date})
---

<Layout title="Kaihkashan Nakhuda portfolio">
    <div class="bg-white">
        <div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20 pt-14">
            <div class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96" aria-hidden="true"></div>
            <div class="mx-auto max-w-7xl px-6 py-20 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-8 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
                    <h1 class="max-w-2xl text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl lg:col-span-2 xl:col-auto">Kaihkashan Nakhuda</h1>
                    <div class="mt-10 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
                        <div class="prose">
                            <Content class="text-pretty text-lg font-medium text-gray-500 sm:text-xl/8" />
                        </div>
                    </div>
                    <Image src={headshot} alt="" width={headshot.width} height={headshot.height} class="mt-10 w-full max-w-lg rounded-2xl object-contain sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36" />
                </div>
            </div>
            <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
        </div>
    </div>
    <div class="bg-white py-6">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Writing strategy</h2>
            </div>
            <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-b border-gray-200 pb-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                {posts.map(post => (
                    <PostCard post={post}></PostCard>
                ))}
            </div>
        </div>
    </div>
    <div class="bg-white py-6">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Certifications</h2>
            </div>
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 mt-10 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                {certs.map(cert => (
                        <Certificate post={cert}></Certificate>
                ))}
            </div>
        </div>
    </div>
</Layout>
