---
interface Props {
    title: string;
    logo?: string;
    slug: string;
}

const { title, logo, slug } = Astro.props;
let pageSlug = slug.replace(/^\//, "");
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta
            name="description"
            content="Hi, I'm Kaihkashan Nakhuda. I'm a Berlin-based Senior Technical Writer specializing in information architecture, content strategy and flow, and creating documentation."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content=`${Astro.site}${pageSlug}` />
    <meta property="og:title" content={title} />
    <meta
            property="og:description"
            content="Hi, I'm Kaihkashan Nakhuda. I'm a Berlin-based Senior Technical Writer specializing in information architecture, content strategy and flow, and creating documentation."
    />
    <meta property="og:image" content={logo} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
            property="twitter:url"
            content=`${Astro.site}${pageSlug}`
    />
    <meta property="twitter:title" content={title} />
    <meta
            property="twitter:description"
            content="Hi, I'm Kaihkashan Nakhuda. I'm a Berlin-based Senior Technical Writer specializing in information architecture, content strategy and flow, and creating documentation."
    />
    <meta property="twitter:image" content={logo} />
    <meta name="generator" content={Astro.generator} />
</head>
